html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.line {
    fill: none;
    stroke-width: 10px;
}

.axis-bottom {
    fill: none;
}

.tick line {
    stroke-width: 5px;
}
.line {
    stroke-width: 5px;
}
.input-container {
    display: flex;
    flex-basis: 5%;
    justify-content: center;
    margin-top: 5%;
}


.svg-container {
    flex-basis: 60%;
    width: 90%;
}
svg {
    padding: 1% 2%;
}